<footer>
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="//www.izymobile.com.br" target="_blank">
                        Semantic Internet of Things
                    </a>
                </li>                
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{dateTime | date: 'yyyy'}} <a href="//www.izymobile.com.br" target="_blank">SIOT</a>
        </p>
    </div>
</footer>
